<!--In questa pagina sono descritte le impostazioni per la pagina di visualizzazione delle parole
di un testo con la relativa frequenza-->
{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

<!--Gestione della tabella per le parole di un testo e la relativa frequenza -->
{% block content %}
    <h1>{% block list_title %}{% endblock %}</h1>
    <div>
        <h5 style="color: red">{% block errore %}{% endblock %}</h5>
    </div>
    <div>
        <h5 style="color: green">{% block successo %}{% endblock %}</h5>
    </div>
    <div class="d-flex justify-content-between">
      <div>
        <h5> {% block author %} {% endblock %} </h5>
      </div>
      <div>
         <h5>{% block complexity %}{% endblock %}</h5>
      </div>
      <div>
          {% block order %}{% endblock %}
      </div>

      <div>
          {% block graph %}{% endblock %}
      </div>
 </div>


    <div class="text-right">
        <h5>{% block subtitle %}{% endblock %}</h5>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                {% block table_head %}

                {% endblock %}
            </tr>
        </thead>
        <tbody>
             {% block table_body %}

             {% endblock %}
        </tbody>
    </table>
    {% block table_after %}

    {% endblock %}
{% endblock %}