<!--In questa pagina sono descritte le impostazioni per la pagina home-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
    <!--Gestione dello stile della pagina-->
    <style>

        body {
            text-align: center;
        }

        h1 {
            color: green;
            font-size: 500%;
        }

        h5 {
            color: green;
        }
    </style>
</head>
<body style="background-color:powderblue;">

{% block content %}



{% endblock %}


</body>
</html>