<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <ul class="nav nav-pills nav-fill w-100">
        <li class="nav-item">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/pngwave.png' %}" width="30" height="30" class="d-inline-block align-top"
                     alt="" loading="lazy">
                Analizza il vocabolario
            </a>
            <a class="btn btn-light ml-2" href="/inserisci">Inserisci Testo</a>
            {% if user.is_authenticated %}
                <a class="btn btn-light ml-5" href="ricerca">Ricerca Testo</a>
                <a class="btn btn-light ml-5" href="legacy">Legacy</a>
                <a class="btn btn-light ml-5" href="blacklist">Blacklist e Filtri</a>
            {% endif %}

            {% if user.is_authenticated %}
                <a class="btn btn-light ml-5" href="{% url 'logout' %}">Log Out</a>
                <a class="btn btn-light ml-5" href="#">{{ user.get_username }}</a>
            {% else %}
                <a class="btn btn-light ml-5" href="{% url 'login' %}">Log In</a>
                <a class="btn btn-light ml-5" href="#">Ospite</a>
            {% endif %}

        </li>
    </ul>
</nav>

<div id="site-main-page" class="container mt-3 pt-3">
    {% block content %}

    {% endblock %}

</div>

<script>{% block script %} {% endblock %}</script>
</body>
</html>