{% extends 'base.html' %}
{% block title %}Blacklist e Filtri{% endblock %}
{% block content %}
    <!--Titolo della pagina-->
    <div>
        <h2>Blacklist e Filtri</h2>
    </div>
    <!--Form per l'inserimento della parola da non visualizzare-->
    <div>
    <form action="blacklist" method='post'>
        {% csrf_token %}
        <!--Form per l'inserimento delle parole minori di n lettere da non visualizzare-->
        <div class="form-group">
            <label for="InserisciMinLunghezza">Lunghezza minima parole (Valore attuale: {{ lunghezza_minima }})</label>
            <select class="form-control" id="InserisciMinLunghezza" name="lunghezzaminima">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
            </select>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" name="aggiorna">Aggiorna</button>
        </div>

        <div class="form-group">
            <!--Form per l'inserimento della parola da non visualizzare-->
            <label for="InserisciParola">Parola da non visualizzare</label>
            <input type="text" class="form-control" id="InserisciParola" name="blackword"
                   placeholder="Inserisci parola">
        </div>

        <!--Pulsante per l'invio dei dati tramite POST-->
        <div class="text-right">
            <button type="submit" class="btn btn-primary" name="inserisci">Inserisci</button>
        </div>


        <br>
        <!--Tabella delle parole già nella blacklist-->
        <div>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">Blacklist</th>
                </tr>
                </thead>
                <tbody>
                {% for blackword in blacklist %}
                    <tr>
                        <td>{{ blackword }}</td>
                        <td>
                            <button type="submit" class="btn btn-primary" id="rimuovi" name="rimuovi"
                                    value="{{ blackword }}">Rimuovi
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}

{% block script %}
    function RimuoviElemento(){
    alert(document.getElementById({{ blackword }}).value)
    }
{% endblock %}