{% extends 'base.html' %}

{% block title %}Confronto Testi{% endblock %}
{% block content %}
    <!-- tabella titoli e complessità -->
    <table class="table table-bordless">
        <thead>
        <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Leggibilità</th>
            <th scope="col">Autore</th>
        </tr>
        </thead>
        <tbody>
        {% for titolo,indice,autore in gulpease %}
            <tr>
                <td>{{ titolo }}</td>
                <td>{{ indice }}</td>
                <td>{{ autore }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <!-- tabella parole con frequenza  -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Parole</th>
            {% for el in titoli %}
                <th>{{ el }}</th>
            {% endfor %}
            <th>Traduzione</th>
        </tr>
        </thead>
        <tbody>
        {% for key,value in frequenza.items %}
            <tr>
                <td>
                    {{ key }}
                </td>
                {% for element in value %}
                    <td>
                        {{ element.1 }}
                    </td>
                {% endfor %}
                <td>
                    <form method="post" action="traduci">
                        {% csrf_token %}
                        <button class="btn btn-primary ml-2" name="traduci_init" value='{{ key }}'>Traduci
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

