{% extends 'base.html' %}
{% block title %}Grafico{% endblock %}
{% block content %}
    <h5>{{ titolo }}</h5>

    <div id="container" style="width: 100%; height: 100%">
        <canvas id="chart1"></canvas>
    </div>

    <div id="container" style="width: 100%; height: 100%">
        <canvas id="chart2"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

        var config1 = {
            type: 'line',
            data: {
                datasets: [{
                    data: {{ datamag|safe }},
                    backgroundColor:
                        '#376df6',
                    label: 'Frequenza'
                }],
                labels: {{ labelsmag|safe }}
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                min: 0, // it is for ignoring negative step.
                                beginAtZero: true,
                                stepSize: 1  // if i use this it always set it '1', which look very awkward if it have high value  e.g. '100'.
                            }
                        }
                    ]
                }
            }
        };


        var config2 = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ datamag|safe }},
                    backgroundColor:
                        '#376df6',
                    label: 'Frequenza'
                }],
                labels: {{ labelsmag|safe }}
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                min: 0, // it is for ignoring negative step.
                                beginAtZero: true,
                                stepSize: 1  // if i use this it always set it '1', which look very awkward if it have high value  e.g. '100'.
                            }
                        }
                    ]
                }
            }
        };

        window.onload = function () {
            var ctx1 = document.getElementById('chart1').getContext('2d');
            window.myPie = new Chart(ctx1, config1);

            var ctx2 = document.getElementById('chart2').getContext('2d');
            window.myPie = new Chart(ctx2, config2);
        };

    </script>

{% endblock %}

