<!--Questa pagina contiene il codice HTML per la home -->
{% extends 'base_home.html' %}

{% load static %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <!--Titolo della pagina-->
    <h1>
        <p class>
            Analizza Vocabolario
        </p>
    </h1>
    <!--Immagine della home-->
    <p>
        <img src="{% static 'images/pngwave.png' %}" width="200" height="224">
    </p>
    <!--Bottoni della pagina-->

    {% if not user.is_authenticated %}
        <p>
            <a class="btn btn-success" href="login">Accedi o Registrati</a>
        </p>
        <p>
            <a class="btn btn-success" href="inserisci" role="button">Modalità ospite</a>
        </p>
    {% else %}
        <p>
        <h5> Sei loggato come : {{ user.get_username }} </h5>
        </p>
        <p>
            <a class="btn btn-success" href="inserisci">Continua sessione</a>
        </p>
        <p>
            <a class="btn btn-success" href="{% url 'logout' %}">Log Out</a>
        </p>
    {% endif %}


{% endblock %}