{% extends 'base.html' %}
{% block title %}Inserisci testo{% endblock %}
{% block list_title %}{% endblock %}
{% block content %}
    <!--Titolo della pagina-->
    <div>
        <h2>Inserisci testo da analizzare</h2>
    </div>
    <!--Form per l'inserimento del titolo-->
    <form action="visualizza" method='post'>
        {% csrf_token %}
        <div>
            <label for="InserisciTitolo">Titolo</label>
            <input type="text" class="form-control" id="InserisciTitolo" name="titolo" placeholder="Inserisci Titolo" maxlength="100">
        </div>
        <!--Form per l'inserimento del testo-->
        <div>
            <label for="InserisciTesto">Testo</label>
            <textarea class="form-control" id="InserisciTesto" name="testo" placeholder="Inserisci Testo"
                      rows="20"></textarea>
            <br>
        </div>
        <!--Pulsante per l'invio dei dati tramite POST-->
        <div class="text-right">
            <button type="submit" class="btn btn-primary" name="elabora">Elabora</button>
        </div>
    </form>

{% endblock %}
