<!--Questa pagina contiene il codice HTML per la visualizzazione della tabella con le parole
di un testo e la relativa frequenza-->
{% extends 'base_table.html' %}

{% block title %}Legacy{% endblock %}

{% block content %}
    {% block list_title %}<h1>Legacy</h1>{% endblock %}
    {% block graph %}
        <div id="container" style="width: 100%; height: 100%">
            <canvas id="chart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>

            var config = {
                type: 'bar',
                data: {
                    datasets: [{
                        data: {{ data|safe }},
                        backgroundColor:
                            '#376df6',
                        label: 'Frequenza'
                    }],
                    labels: {{ labels|safe }}
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    min: 0, // it is for ignoring negative step.
                                    beginAtZero: true,
                                    stepSize: 1  // if i use this it always set it '1', which look very awkward if it have high value  e.g. '100'.
                                }
                            }
                        ]
                    }
                }
            };

            window.onload = function () {
                var ctx = document.getElementById('chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
            };

        </script>
    {% endblock %}
    <!-- gestione della tabella  -->
    <form method="post" action="legacy" class="mt-5 mb-3 float-right">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <select class="form-control" id="ordine" name="ordine">
                        <option>Frequenza crescente</option>
                        <option>Frequenza decrescente</option>
                        <option>Ordine alfabetico</option>
                        <option>Ordine alfabetico inverso</option>
                    </select>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" name="ordina">Ordina</button>
                </div>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            {% block table_head %}
                <th>Parole</th>
                <th>Frequenza</th>
                <th>Traduzione</th>
            {% endblock %}
        </tr>
        </thead>
        <tbody>
        {% block table_body %}
            {% for key,value in frequenza.items %}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ value }}
                    </td>
                    <td>
                        <form method="post" action="traduci">
                            {% csrf_token %}
                            <button class="btn btn-primary ml-2" name="traduci_init" value='{{ key }}'>Traduci
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
        </tbody>
    </table>
{% endblock %}
