{% extends 'base.html' %}

{% block title %}Registrati{% endblock %}
{% block content %}
    <h1>Registrati</h1>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <h5>Per completare la registrazione sarà necessario confermare l'indirizzo mail</h5>
            <button type="submit" class="btn btn-primary">Registrati</button>
        </form>
    </div>
{% endblock %}
