{% extends 'base.html' %}
{% block title %}Ricerca Testi{% endblock %}


{% block list_title %}{% endblock %}

{% block content %}

    <h1>
        Ricerca Testi
    </h1>

    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" method="post">
        {% csrf_token %}
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
               name="barraRicerca">
        <button type="submit" class="btn btn-primary ml-2">Cerca</button>
    </form>
    <div class="mt-4">
        <div class="row">
            Testi selezionati
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Testo</th>
                    <th>Rimuovi</th>
                </tr>
                </thead>
                <tbody>
                {% for titoli in listaConfronto %}
                    <tr>
                        <td>
                            {{ titoli }}
                        </td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <button id="{{ titoli }}" value="{{ titoli }}" type="submit" class="btn btn-primary"
                                        name='rimuovi'>Rimuovi dal confronto
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="get" style="display: inline">
                {% csrf_token %}
                <button class="btn btn-danger ml-2" name="reset">Reset</button>
            </form>
            <form method="post" action="confronto" style="display: inline">
                {% csrf_token %}
                <button class="btn btn-success ml-2" name="confronto" value='{{ listaConfronto }}'>Confronto
                </button>
            </form>
        </div>
    </div>
    <div class="mt-4">
        <div class="row">
            Risultati della ricerca
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Testo</th>
                    <th>Aggiungi</th>
                    <th>Dettagli</th>
                </tr>
                </thead>
                <tbody>
                {% for titoli in titoliCercati %}
                    <tr>
                        <td>
                            {{ titoli }}
                        </td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <button id="{{ titoli }}" value="{{ titoli }}" type="submit" class="btn btn-primary"
                                        name='aggiungi'>Aggiungi al confronto
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="post" style="display: inline" action="carica">
                                {% csrf_token %}
                                <button name="carica" value="{{ titoli }}" type="submit" class="btn btn-primary">
                                    Visualizza dettagli
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
