{% extends 'base.html' %}

{% block title %}Traduci parole{% endblock %}

{% block content %}
    <h1>
        Traduci Parole
    </h1>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Parola in italiano</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ parolaIT }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Parola in {{ linguaHeader }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ parolaTR }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div>
                    <select class="form-control" id="ordine" name="lingua">
                        {% for lingua in lingue %}
                            <option> {{ lingua }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-auto">
                    <button type="submit" class="btn btn-primary" name="traduci" style="display: inline">Traduci
                    </button>
                </div>
            </div>
        </div>
    </form>


{% endblock %}