<!--Questa pagina contiene il codice HTML per la visualizzazione della tabella con le parole
di un testo e la relativa frequenza-->
{% extends 'base_table.html' %}

{% block title %}Visuallizza Parole{% endblock %}

{% block list_title %}{{ titolo }}{% endblock %}

{% block errore %}
    {% if errore %}
        {{ errore }}
    {% endif %}
{% endblock %}
{% block successo %}
    {% if successo %}
        {{ successo }}
    {% endif %}
{% endblock %}

{% block order %}
    <form method="post" action="visualizza">
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <select class="form-control" id="ordine" name="ordine">
                        <option>Frequenza crescente</option>
                        <option>Frequenza decrescente</option>
                        <option>Ordine alfabetico</option>
                        <option>Ordine alfabetico inverso</option>
                    </select>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary" name="ordina">Ordina</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block graph %}
    {% if user.is_authenticated %}
        <form method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" name="salva">
                <i class="far fa-save mr-2"></i>Salva
            </button>
        </form>

    {% endif %}
    </button>
    <form method="post" action="grafico" name="grafico" style="display: inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="grafico" value="{{ titolo }}">Grafico</button>
    </form>
{% endblock %}

{% block complexity %}
    {# <a class="btn btn-secondary" href=""><i class="fas fa-question"></i></a> #}
    Leggibilità: {{ gulpease }} / 100
{% endblock %}

<!-- gestione della tabella  -->
{% block table_head %}
    <th>Parole</th>
    <th>Frequenza</th>
    <th>Traduzione</th>
{% endblock %}

{% block table_body %} {% csrf_token %}
    {% for key,value in frequenza.items %}
        <tr>
            <td>
                {{ key }}
            </td>
            <td>
                {{ value }}
            </td>
            <td>
                <form method="post" action="traduci">
                    {% csrf_token %}
                    <button class="btn btn-primary ml-2" name="traduci_init" value='{{ key }}'>Traduci
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block table_after %}


{% endblock %}