{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Inserisci le credenziali</h1>
    <form class="px-4 py-3" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit" >Accedi</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="register">Non hai ancora un account? Registrati</a>
    <a class="dropdown-item" href="{% url 'password_reset' %}">Hai dimenticato la password?</a>
{% endblock %}