{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="d-flex flex-column">
            <p class="m-auto">La tua password è stata resettata. Adesso puoi <a href="{% url 'login' %}">Accedere</a>.</p>
        </div>
    </div>

{% endblock %}