{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
        <h3>Cambia password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Cambia password</button>
        </form>
    {% else %}
        <p>
            Il link di reimpostazione della password non è valido, probabilmente perché è già stato utilizzato.
            Si prega di richiedere una nuova reimpostazione della password.
        </p>
    {% endif %}
{% endblock %}